@import "./../sccVariables.scss";

.chat {
    position: relative;
    max-height: calc(100% - 60px);
    overflow-y: auto;
}

.card {
    height: 100%;
    overflow-x: hidden;
}

.chatinput {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

h2 {
    color: white;
    text-align: center;
    background-color: #333333;
    margin: 0;
    padding: 0.3rem 0 0.3rem 0;
}

input {
    width: 90%;
    height: 2rem;
    margin: 0.5rem;
}

.highlightuser {
    background-color: lightblue;
}