@import "app/sccVariables.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    padding: 0;
    margin: 0;
}

.bg-main {
    background-color: $primary-background-color;
}