@import "./../sccVariables.scss";

.map {
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    height: $map-size;
    width: $map-size;
    margin-top: 1.5rem;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.rowMap {
    float: left;
}

.startRoom {
    background-color: blue;
}

.room {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.activeRoom {
    background-color: lightslategray;
}

.editor {
    margin-top: 1.5rem;
    width: calc(80% - 400px);
    height: $map-size;
    overflow: auto;
}

.chat {
    position: relative;
    background-color: grey;
    height: 19rem
}

.chat-input {
    position: absolute;
    bottom: 0;
}

.requests{
    overflow: auto;
    height: calc(85vh - 400px);
}

.requestbody {
    min-height: calc(80vh - 400px);
}

.viewedRoom {
    animation: glow-green infinite 2s ease-in;
    background-color: lightgreen;
}

@keyframes glow-green {
    from {background-color: lightgreen;}
    to {background-color: white;}
  }
