<div class="m-0 row justify-content-center">
  <div class="col-12 row justify-content-center">
    <div class="mapDisplay">
      <div class="roomMap card-border">
        <div *ngFor="let room of rooms" [ngStyle]="{
            'grid-column': room.x,
            'grid-row': room.y
          }" class="roomCell" (dblclick)="toggleRoom(room)" (click)="selectRoom(room)" [ngClass]="{
            activeRoom: room.isActive && !room.isStartRoom,
            startRoom: room.isActive && room.isStartRoom,
            viewedRoom: room.isViewed,
            selectedRoom: room == selectedRoom
          }"></div>
      </div>
    </div>

    <div class="card bg-dark col-12-min-map card-border">
      <div class="card-body">
        <nav>
          <h2 class="text-center p-0 m-1">Overview</h2>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-white" id="nav-dungeon-tab" data-toggle="tab" href="#nav-dungeon"
              role="tab" aria-controls="nav-dungeon" aria-selected="true">Dungeon</a>
            <a class="nav-item nav-link text-white" id="nav-room-tab" data-toggle="tab" href="#nav-room" role="tab"
              aria-controls="nav-room" aria-selected="false" (click)="getItems(); getNpcs()">Room</a>
            <a class="nav-item nav-link text-white" id="nav-race-tab" data-toggle="tab" href="#nav-race" role="tab"
              aria-controls="nav-race" aria-selected="false" (click)="getRaces()">Race</a>
            <a class="nav-item nav-link text-white" id="nav-class-tab" data-toggle="tab" href="#nav-class" role="tab"
              aria-controls="nav-class" aria-selected="false" (click)="getClasses()">Class</a>
            <a class="nav-item nav-link text-white" id="nav-item-tab" data-toggle="tab" href="#nav-item" role="tab"
              aria-controls="nav-item" aria-selected="false" (click)="getItems()">Item</a>
            <a class="nav-item nav-link text-white" id="nav-npc-tab" data-toggle="tab" href="#nav-npc" role="tab"
              aria-controls="nav-npc" aria-selected="false" (click)="getNpcs()">NPC</a>
            <a class="nav-item nav-link text-white" id="nav-access-rights-tab" data-toggle="tab"
              href="#nav-access-rights" role="tab" aria-controls="nav-access-rights" aria-selected="false"
              (click)="getAccessList()">Access Rights</a>
            <a class="nav-item nav-link text-white" id="nav-chat-tab" data-toggle="tab" href="#nav-chat" role="tab"
              aria-controls="nav-chat" aria-selected="false" (click)="chatMessages = 0">
              <span >Chat</span></a><div [matBadge]="chatMessages" [matBadgeHidden]="(chatMessages == 0)" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" [matBadgePosition]="'before'"></div>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-dungeon" role="tabpanel" aria-labelledby="nav-dungeon-tab">
            <div *ngIf="dungeon" class="m-3">
              Name:
              <input [(ngModel)]="dungeon.dungeonName" class="w-100 m-1" />
              Description:
              <textarea class="w-100 m-1" [(ngModel)]="dungeon.dungeonDescription"></textarea>
              MaxPlayer:
              <mat-slider min="1" max="10" step="1" [(ngModel)]="dungeon.maxPlayers" thumbLabel>
              </mat-slider>

              <button class="btn btn-outline-success m-2" (click)="increaseDungeon()">
                increase Map
              </button>
              <button class="btn btn-outline-danger m-2" (click)="decreaseDungeon()">
                decrease Map
              </button>
              <mat-slide-toggle [(ngModel)]="this.dungeon.private" class="m-3">private</mat-slide-toggle>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-room" role="tabpanel" aria-labelledby="nav-room-tab">
            <div *ngIf="selectedRoom" class="m-3">
              RoomName:
              <input class="w-100" [(ngModel)]="selectedRoom.name" /><br /><br />
              RoomDescription:
              <textarea class="w-100" [(ngModel)]="selectedRoom.description"></textarea><br /><br />
              <div class="col-12 m-0 p-0 row">
                
                <div class="col-12 roomdirections col-xl-5">
                  <div class="row" style="grid-column: 2; grid-row: 1; justify-self: center;">
                    <div class="col-12 text-center">north</div>
                    <div class="col-12 text-center">
                      <mat-slide-toggle [(ngModel)]="selectedRoom.north"></mat-slide-toggle>
                    </div>
                  </div>

                  <div class="row" style="grid-column: 3; grid-row: 2; justify-self: center;">
                    <div class="col-12 text-center">east</div>
                    <div class="col-12 text-center">
                      <mat-slide-toggle [(ngModel)]="selectedRoom.east"></mat-slide-toggle>
                    </div>
                  </div>

                  <div class="row" style="grid-column: 1; grid-row: 2; justify-self: center;">
                    <div class="col-12 text-center">west</div>
                    <div class="col-12 text-center">
                      <mat-slide-toggle [(ngModel)]="selectedRoom.west"></mat-slide-toggle>
                    </div>
                  </div>

                  <div class="row" style="grid-column: 2; grid-row: 3; justify-self: center;">
                    <div class="col-12 text-center">south</div>
                    <div class="col-12 text-center">
                      <mat-slide-toggle [(ngModel)]="selectedRoom.south"></mat-slide-toggle>
                    </div>
                  </div>

                  <div style="grid-column: 2; grid-row: 2; justify-self: center; align-self: center;">
                    <div class="col-12 text-center">StartRoom</div>
                    <div class="col-12 text-center">
                      <mat-slide-toggle color="primary" [(ngModel)]="selectedRoom.isStartRoom"></mat-slide-toggle>
                    </div>
                  </div>
                  
                </div>
                <div class="col-12 col-xl-7">
                  Items:
                  <ng-select [(ngModel)]="selectedRoom.item" appendTo="body">
                    <ng-option [value]="item" *ngFor="let item of dungeon.items">{{
                      item.name
                      }}</ng-option>
                  </ng-select><br />
                  NPC:
                  <ng-select [(ngModel)]="selectedRoom.npc" notFoundText="no npcs found" appendTo="body">
                    <ng-option [value]="npc" *ngFor="let npc of dungeon.npcs">{{
                      npc.name
                      }}</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-race" role="tabpanel" aria-labelledby="nav-race-tab">
            <div *ngIf="dungeon" class="m-3">
              RaceName:
              <input class="w-100" [(ngModel)]="selectedRace.name" /><br /><br />
              RaceDescription:
              <textarea class="w-100" [(ngModel)]="selectedRace.description"></textarea><br /><br />
              <button (click)="addRace()">submit Race</button><br /><br />
              <div class="row m-0">
                <div>Races:</div>
                <div *ngFor="let race of dungeon.races" (dblclick)="editRace(race)" style="margin-left: 10px"
                  title="{{ race.description }}">
                  {{ race.name }}
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-class" role="tabpanel" aria-labelledby="nav-class-tab">
            <div *ngIf="dungeon" class="m-3">
              ClassName:
              <input class="w-100" [(ngModel)]="selectedClass.name" /><br /><br />
              ClassDescription:
              <textarea class="w-100" [(ngModel)]="selectedClass.description"></textarea><br /><br />
              equipment:
              <ng-select [(ngModel)]="selectedClass.equipment" appendTo="body">
                <ng-option [value]="item" *ngFor="let item of dungeon.items">{{
                  item.name
                  }}</ng-option>
              </ng-select><br />
              <button (click)="addClass()">submit Class</button><br /><br />
              <div class="row m-0">
                <div>Classes:</div>
                <div *ngFor="let class of dungeon.classes" (dblclick)="editClass(class)" style="margin-left: 10px"
                  title="{{ class.description }}">
                  {{ class.name }}
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-item" role="tabpanel" aria-labelledby="nav-item-tab">
            <div *ngIf="dungeon" class="m-3">
              ItemName:
              <input class="w-100" [(ngModel)]="selectedItem.name" /><br /><br />
              ItemDescription:
              <textarea class="w-100" [(ngModel)]="selectedItem.description"></textarea><br /><br />
              <button (click)="addItem()">submit Item</button><br /><br />
              <div class="row m-0">
                <div>Items:</div>
                <div *ngFor="let item of dungeon.items" (dblclick)="editItem(item)" style="margin-left: 10px"
                  title="{{ item.description }}">
                  {{ item.name }}
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-npc" role="tabpanel" aria-labelledby="nav-npc-tab">
            <div *ngIf="dungeon" class="m-3">
              NpcName:
              <input class="w-100" [(ngModel)]="selectedNpc.name" /><br /><br />
              NpcDescription:
              <textarea class="w-100" [(ngModel)]="selectedNpc.description"></textarea><br /><br />
              equipment:
              <ng-select [(ngModel)]="selectedNpc.equipment" appendTo="body">
                <ng-option [value]="item" *ngFor="let item of dungeon.items">{{
                  item.name
                  }}</ng-option>
              </ng-select><br />
              <button (click)="addNpc()">submit Npc</button><br /><br />
              <div class="row m-0">
                <div>Npcs:</div>
                <div *ngFor="let npc of dungeon.npcs" (dblclick)="editNpc(npc)" style="margin-left: 10px"
                  title="{{ npc.description }}">
                  {{ npc.name }}
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-access-rights" role="tabpanel" aria-labelledby="nav-access-rights-tab">
            <div *ngIf="dungeon" class="m-3">
              <div class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" placeholder="Username" [(ngModel)]="insertedUsername">
                </div>
                <button type="submit" class="btn btn-primary mb-2" (click)="submitAccess()">Add User</button>
              </div>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Access</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of dungeon.accessList">
                    <td>
                      {{user.name}}
                    </td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-secondary" (click)="user.isAllowed = true" [ngClass]="{
                        'btn-success': user.isAllowed
                      }">Allowed</button>
                        <button type="button" class="btn btn-secondary" (click)="user.isAllowed = false" [ngClass]="{
                        'btn-danger': !user.isAllowed
                      }">Forbidden</button>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-warning" (click)="removeFromAccess(user)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab">
            <div *ngIf="dungeon" class="chat">
              <app-chat [styles]="{'grid-template-rows': '236px 44px','border': 'none'}" [isDungeonMaster]="true" [unreadMessages]="chatMessages" (ChatMessageEvent)="receiveMessage($event)"></app-chat>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card-body">
        <h3>Requests</h3>
        <div class="col-12">
          <h5 *ngIf="!requests || requests.length == 0">Waiting For Player Requests...</h5>
          <div class="row">
            <div class="col-12 col-lg-4 p-0" *ngFor="let request of requests; let i = index">
              <div class="card m-2 bg-dark card-border">
                <div class="card-body">
                  <nav>
                    <div class="nav nav-tabs" id="{{ 'nav-tab' + i }}" role="tablist">
                      <a class="nav-item nav-link active text-white" id="{{ 'nav-overview-tab' + i }}" data-toggle="tab"
                        href="{{ '#nav-overview' + i }}" role="tab" aria-controls="nav-overview"
                        aria-selected="true">Overview</a>
                      <a class="nav-item nav-link text-white" id="{{ 'nav-inventory-tab' + i }}" data-toggle="tab"
                        href="{{ '#nav-inventory' + i }}" role="tab" aria-controls="nav-inventory"
                        aria-selected="false">Inventory</a>
                    </div>
                  </nav>

                  <div class="tab-content" id="{{ 'nav-tabContent' + i }}">
                    <div class="tab-pane fade show active" id="{{ 'nav-overview' + i }}" role="tabpanel"
                      aria-labelledby="nav-item-overview">
                      <div>
                        <span class="font-weight-bold">{{
                          request.requester.name
                          }}</span>
                        <meter id="health" min="0" max="100" low="30" high="75" optimum="80"
                          value="{{ request.requester.health }}" style="margin-left: 10px"></meter>
                        <button class="btn-success float-right m-2" (click)="submitRequest(request)">
                          Submit
                        </button>
                      </div>
                      <div>Mensch, Scout</div>
                      <div>
                        <span class="font-weight-bold">wants to: </span>
                        <span class="font-italic m-4">{{
                          request.request
                          }}</span>
                      </div>
                      <br />
                      <div>What happens?:</div>
                      <textarea class="w-100" [(ngModel)]="request.answer"></textarea>
                      Adjust {{ request.requester.name }}'s Health
                      <mat-slider min="0" max="100" step="1" [(ngModel)]="request.requester.health" thumbLabel>
                      </mat-slider>
                    </div>

                    <div class="tab-pane fade" id="{{ 'nav-inventory' + i }}" role="tabpanel"
                      aria-labelledby="nav-inventory-tab">
                      <div>
                        Inventory
                        <ng-select [multiple]="true" [items]="dungeon.items" bindLabel="name" bindValue=""
                          [(ngModel)]="request.requester.inventar">
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>
<div class="quickmenu card p-3 card-border">
  <div class="cardbody">
    <button (click)="saveDungeon()" class="btn btn-primary m-1">Save</button>
    <button (click)="publishDungeon()" class="btn btn-success m-1">
      Publish
    </button>
  </div>
</div>