@import "./../sccVariables.scss";

.map {
    display: flex;
    border: 1px solid lightslategray;
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
    width: 500px;
}

.rowMap {
    float: left;
}

.startRoom {
    background-color: blue;
}

.room {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.activeRoom {
    background-color: lightslategray;
}

.editor {
    border: 1px solid black;
    width: calc(80% - 500px);
    height: $map-size;
}
