<div class="m-0 row justify-content-center">
    <div class="col-12 row justify-content-center">
        <div class="mapDisplay m-4">
            <div class="map">
                <div *ngFor="let row of Rooms" class="rowMap">
                    <div *ngFor="let room of row" class="room" [ngClass]="{
                        'activeRoom':room.isActive && !room.isStartRoom,
                        'startRoom':room.isActive && room.isStartRoom
                    }" (click)="selectedRoom = room" (dblclick)="toggleRoom(room)">
                    </div>
                </div>
            </div>
            <button (click)="increaseMap()">increase Map</button>
            <button (click)="decreaseMap()">decrease Map</button>
            <button (click)="saveMap()" class="btn btn-primary m-1">save MUD</button>
            <button (click)="publishMap()" class="btn btn-success m-1">publish MUD</button>
        </div>
    
        <div class="editor m-4">
            <nav>
                <h2 class="text-center p-0 m-0">Settings</h2>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-dungeon-tab" data-toggle="tab" href="#nav-dungeon" role="tab" aria-controls="nav-dungeon" aria-selected="true">Dungeon</a>
                  <a class="nav-item nav-link" id="nav-room-tab" data-toggle="tab" href="#nav-room" role="tab" aria-controls="nav-room" aria-selected="false">Room</a>
                  <a class="nav-item nav-link" id="nav-race-tab" data-toggle="tab" href="#nav-race" role="tab" aria-controls="nav-race" aria-selected="false">Race</a>
                  <a class="nav-item nav-link" id="nav-class-tab" data-toggle="tab" href="#nav-class" role="tab" aria-controls="nav-class" aria-selected="false">Class</a>
                  <a class="nav-item nav-link" id="nav-item-tab" data-toggle="tab" href="#nav-item" role="tab" aria-controls="nav-item" aria-selected="false">Item</a>
                  <a class="nav-item nav-link" id="nav-npc-tab" data-toggle="tab" href="#nav-npc" role="tab" aria-controls="nav-npc" aria-selected="false">NPC</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-dungeon" role="tabpanel" aria-labelledby="nav-dungeon-tab">

                </div>

                
                <div class="tab-pane fade" id="nav-room" role="tabpanel" aria-labelledby="nav-room-tab">test2</div>
                <div class="tab-pane fade" id="nav-race" role="tabpanel" aria-labelledby="nav-race-tab">test3</div>
                <div class="tab-pane fade" id="nav-class" role="tabpanel" aria-labelledby="nav-class-tab">test3</div>
                <div class="tab-pane fade" id="nav-item" role="tabpanel" aria-labelledby="nav-item-tab">test3</div>
                <div class="tab-pane fade" id="nav-npc" role="tabpanel" aria-labelledby="nav-npc-tab">test3</div>
              </div>            
        </div>
    
</div>




<div *ngIf="selectedRoom" class="RoomEditor m-2 card">
    RoomName: <input [(ngModel)]="selectedRoom.name"><br>
    RoomDescription: <textarea [(ngModel)]="selectedRoom.description"></textarea><br>
    north: <input type="checkbox" [checked]="selectedRoom.north"
        (change)="selectedRoom.north = !selectedRoom.north" /><br>
    east: <input type="checkbox" [checked]="selectedRoom.east"
        (change)="selectedRoom.east = !selectedRoom.east" /><br>
    south: <input type="checkbox" [checked]="selectedRoom.south"
        (change)="selectedRoom.south = !selectedRoom.south" /><br>
    west: <input type="checkbox" [checked]="selectedRoom.west"
        (change)="selectedRoom.west = !selectedRoom.west" /><br>
    startroom: <input type="checkbox" [checked]="selectedRoom.isStartRoom"
        (change)="selectedRoom.isStartRoom = !selectedRoom.isStartRoom" /><br>
    Items: <ng-select [(ngModel)]="selectedRoom.item">
        <ng-option *ngFor="let item of Map.items">{{item.name}}</ng-option>
    </ng-select><br>
    NPC: <ng-select [(ngModel)]="selectedRoom.npc" notFoundText="no npcs found">
        <ng-option *ngFor="let npc of Map.npcs">{{npc.name}}</ng-option>
    </ng-select><br>
</div>

<div *ngIf="Map" class="MapEditor m-2 card">
    Name: <input [(ngModel)]="Map.mapName"><br>
    Description: <textarea [(ngModel)]="Map.mapDescription"></textarea><br>
    MaxPlayer: <ng-select [(ngModel)]="Map.maxPlayers" [clearable]="false">
        <ng-option *ngFor="let maxP of maxPlayerOptions" >{{maxP}}</ng-option>
    </ng-select>
    Classes: <div *ngFor="let class of Map.classes" (click)="editClass(class)">{{class.name}}</div><br>
    Races: <div *ngFor="let race of Map.races" (click)="editRace(race)">{{race.name}}</div><br>
    Items:<div *ngFor="let item of Map.items" (click)="editItem(item)">{{item.name}}</div><br>
    Npcs: <div *ngFor="let npc of Map.npcs" (click)="editNpc(npc)">{{npc.name}}
    </div><br>
</div>

<div *ngIf="Map" class="raceEditor card m-2">
    RaceName: <input [(ngModel)]="selectedRace.name"><br>
    RaceDescription: <textarea [(ngModel)]="selectedRace.description"></textarea><br>
    <button (click)="addRace()">submit Race</button><br>
</div>

<div *ngIf="Map" class="classEditor m-2 card">
    ClassName: <input [(ngModel)]="selectedClass.name"><br>
    ClassDescription: <textarea [(ngModel)]="selectedClass.description"></textarea><br>
    equipment: <ng-select [(ngModel)]="selectedClass.equipment">
        <ng-option *ngFor="let item of Map.items">{{item.name}}</ng-option>
    </ng-select><br>
    <button (click)="addClass()">submit Class</button><br>
</div>

<div *ngIf="Map" class="itemEditor m-2 card">
    ItemName: <input [(ngModel)]="selectedItem.name"><br>
    ItemDescription: <textarea [(ngModel)]="selectedItem.description"></textarea><br>
    <button (click)="addItem()">submit Item</button><br>
</div>

<div *ngIf="Map" class="npcsEditor m-2 card">
    NpcName: <input [(ngModel)]="selectedNpc.name"><br>
    NpcDescription: <textarea [(ngModel)]="selectedNpc.description"></textarea><br>
    equipment: <ng-select [(ngModel)]="selectedNpc.equipment">
        <ng-option *ngFor="let item of Map.items">{{item.name}}</ng-option>
    </ng-select><br>
    <button (click)="addNpc()">submit Npc</button><br>
</div>
</div>