<div class="m-3">
    <div class="d-flex justify-content-center row m-0">
        <div class="card col-xl-4 col-lg-5 col-12 shadow-lg">
            <div class="card-body">
                <h2>Dateien</h2>
                <div class="download">
                    <p (click)="psw('Projektplan.pdf')">Projektplan.pdf</p>
                    <p (click)="psw('Projektstrukturplan.pdf')">Projektstrukturplan.pdf</p>
                    <p (click)="psw('Arbeitspakete,Kapazitäten.xlsx')">Arbeitspakete,Kapazitäten.xlsx</p>
                    <p (click)="psw('Timeline.png')">Timeline.png</p>
                    <p (click)="psw('Recherchebericht_Gruppe3.pdf')">Recherchebericht_Gruppe3.pdf</p>
                    <p (click)="psw('Zeitaufwandserfassung_Woche2_Gruppe3.xlsx')">Zeitaufwandserfassung_Woche2_Gruppe3.xlsx</p>
                    <p (click)="psw('Statusbericht2_Gruppe3.pdf')">Statusbericht2_Gruppe3.pdf</p>
                    <p (click)="psw('Komponentendiagramm_WrittenRealms.pdf')">Komponentendiagramm_WrittenRealms.pdf</p>
                    <p (click)="psw('UseCase_WrittenRealms_PlayDungeon.pdf')">UseCase_WrittenRealms_PlayDungeon.pdf</p>
                    <p (click)="psw('UseCase_WrittenRealms_CreateDungeon.pdf')">UseCase_WrittenRealms_CreateDungeon.pdf</p>
                    <p (click)="psw('UseCase_WrittenRealms_Übersicht.pdf')">UseCase_WrittenRealms_Übersicht.pdf</p>
                </div>
            </div>
        </div>
        <div class="card col-xl-4 col-lg-5 col-12 shadow-lg">
            <div class="card-body">
                <h2>Über das Projekt</h2>
                <p class="infotext"> Wir arbeiten daran, einem Kunden einen fertigen und frei konfigurierbaren Multi
                    User Dungeon mit Server, Web-UI und Datenbank zur Verfügung zu stellen.</p>
            </div>
        </div>
        <div class="card col-xl-6 col-lg-7 col-12 shadow-lg">
            <div class="card-body">
                <h2>Mitglieder</h2>
                <ul>
                    <li>Gruchott, Jan <span style="float: right;">[Gruppenleiter]</span></li>
                    <li>Drillisch, Jack-Justin <span style="float: right;">[Implementierung]</span></li>
                    <li>Fendrich, Robert <span style="float: right;">[technischer Assistent]</span></li>
                    <li>Klein, Lukas <span style="float: right;">[QS und Dokumentation]</span></li>
                    <li>Zimmermann, Thomas <span style="float: right;">[Recherche]</span></li>
                    <li>Preisig, Hauke <span style="float: right;">[Tester]</span></li>
                </ul>

            </div>
        </div>
    </div>
</div>