<div class="m-3">
    <div class="d-flex justify-content-center row m-0">
        <div class="card col-xl-4 col-lg-5 col-12 shadow-lg">
            <div class="card-body">
                <h2>Dateien</h2>
                <p *ngIf="!privateDownloads" class="activate" (click)="psw()">activate private files</p>
                <div class="download">
                    <h5>1. Abgabe</h5>
                    <p *ngFor="let file of files1" (click)="download(file,'1. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files1p" (click)="download(file,'1. Abgabe')" >{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>2. Abgabe</h5>
                    <p *ngFor="let file of files2" (click)="download(file,'2. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files2p" (click)="download(file,'2. Abgabe')" >{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>3. Abgabe</h5>
                    <p *ngFor="let file of files3" (click)="download(file,'3. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files3p" (click)="download(file,'3. Abgabe')">{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>4. Abgabe</h5>
                    <p *ngFor="let file of files4" (click)="download(file,'4. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files4p" (click)="download(file,'4. Abgabe')">{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>5. Abgabe</h5>
                    <p *ngFor="let file of files5" (click)="download(file,'5. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files5p" (click)="download(file,'5. Abgabe')">{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>6. Abgabe</h5>
                    <p *ngFor="let file of files6" (click)="download(file,'6. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files6p" (click)="download(file,'6. Abgabe')">{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>7. Abgabe</h5>
                    <p *ngFor="let file of files7" (click)="download(file,'7. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files7p" (click)="download(file,'7. Abgabe')">{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>8. Abgabe</h5>
                    <p *ngFor="let file of files8" (click)="download(file,'8. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files8p" (click)="download(file,'8. Abgabe')">{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                    <h5>9. Abgabe</h5>
                    <p *ngFor="let file of files9" (click)="download(file,'9. Abgabe')">{{file}}</p>
                    <ng-container *ngIf="privateDownloads"><p *ngFor="let file of files9p" (click)="download(file,'9. Abgabe')">{{file}} <span style="color: red">[private]</span></p></ng-container>
                    <hr>
                </div>
            </div>
        </div>
        <div class="card col-xl-4 col-lg-5 col-12 shadow-lg">
            <div class="card-body">
                <h2>Über das Projekt</h2>
                <p class="infotext"> Wir arbeiten daran, einem Kunden einen fertigen und frei konfigurierbaren Multi
                    User Dungeon mit Server, Web-UI und Datenbank zur Verfügung zu stellen.</p>
            </div>
        </div>
        <div class="card col-xl-6 col-lg-7 col-12 shadow-lg">
            <div class="card-body">
                <h2>Mitglieder</h2>
                <ul>
                    <li>Gruchott, Jan <span style="float: right;">[Gruppenleiter]</span></li>
                    <li>Drillisch, Jack-Justin <span style="float: right;">[Implementierung]</span></li>
                    <li>Fendrich, Robert <span style="float: right;">[technischer Assistent]</span></li>
                    <li>Klein, Lukas <span style="float: right;">[QS und Dokumentation]</span></li>
                    <li>Zimmermann, Thomas <span style="float: right;">[Recherche]</span></li>
                    <li>Preisig, Hauke <span style="float: right;">[Tester]</span></li>
                </ul>

            </div>
        </div>
    </div>
</div>