<div class="m-3">
    <div class="d-flex justify-content-center row m-0">
        <div class="card col-xl-4 col-lg-5 col-12 shadow-lg">
            <div class="card-body">
                <h2>Dateien</h2>
                <div class="download">
                    <h5>1. Abgabe</h5>
                    <p *ngFor="let file of files1" (click)="psw(file,'1. Abgabe')">{{file}}</p>
                    <hr>
                    <h5>2. Abgabe</h5>
                    <p *ngFor="let file of files2" (click)="psw(file,'2. Abgabe')">{{file}}</p>
                    <hr>
                    <h5>3. Abgabe</h5>
                    <p *ngFor="let file of files3" (click)="psw(file,'3. Abgabe')">{{file}}</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="card col-xl-4 col-lg-5 col-12 shadow-lg">
            <div class="card-body">
                <h2>Über das Projekt</h2>
                <p class="infotext"> Wir arbeiten daran, einem Kunden einen fertigen und frei konfigurierbaren Multi
                    User Dungeon mit Server, Web-UI und Datenbank zur Verfügung zu stellen.</p>
            </div>
        </div>
        <div class="card col-xl-6 col-lg-7 col-12 shadow-lg">
            <div class="card-body">
                <h2>Mitglieder</h2>
                <ul>
                    <li>Gruchott, Jan <span style="float: right;">[Gruppenleiter]</span></li>
                    <li>Drillisch, Jack-Justin <span style="float: right;">[Implementierung]</span></li>
                    <li>Fendrich, Robert <span style="float: right;">[technischer Assistent]</span></li>
                    <li>Klein, Lukas <span style="float: right;">[QS und Dokumentation]</span></li>
                    <li>Zimmermann, Thomas <span style="float: right;">[Recherche]</span></li>
                    <li>Preisig, Hauke <span style="float: right;">[Tester]</span></li>
                </ul>

            </div>
        </div>
    </div>
</div>