<header>SWEProjekt2021</header>
<div class="main">
    <div class="d-flex justify-content-center row">
        <div class="card col-lg-3 col-md-5 col-10 shadow-lg">
            <div class="card-body">
                <h2>Mitglieder</h2>
                <ul>
                    <li>Gruchott, Jan</li>
                    <li>Drillisch, Jack-Justin</li>
                    <li>Fendrich, Robert</li>
                    <li>Klein, Lukas</li>
                    <li>Zimmermann, Thomas</li>
                    <li>Preisig, Hauke</li>
                </ul>

            </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-10 shadow-lg">
            <div class="card-body">
                <h2>Über das Projekt</h2>
                <p> Wir arbeiten an einem textbasierten Multiplayer Dungeon Spiel</p>
            </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-10 shadow-lg">
            <div class="card-body">
                <h2>Dateien</h2>
                <a href="./downloads/Aufgabenblatt1.pdf" download>
                    <p>Aufgabenblatt1</p>
                </a>
            </div>
        </div>
    </div>
</div>