<div class="container-fluid p-0 m-0">
    <div class="row m-5 justify-content-around align-items-start">
        <div class="col-8 row">
            <div class="col-12 row">
                <h3>Available MUDs</h3><ng-select style="margin-left: 20px; min-width: 100px;" [(ngModel)]="selectedFilter" [clearable]="false"> 
                    <ng-option *ngFor="let filter of filters">{{filter}}</ng-option>
                </ng-select>
            </div>
            <div *ngFor="let dungeon of availableMUDs" class="border border-dark p-3 col-4 mudCard">
                <h5>{{dungeon.dungeonName}} <span *ngIf="dungeon.private" style="color: red; font-size: smaller;">private</span>  </h5>
                <h6>({{dungeon.currentPlayers}}/{{dungeon.maxPlayers}}) Players</h6>
                <div>{{dungeon.dungeonDescription}}</div>
                <button class="btn btn-success" routerLink="/play">JOIN</button>
            </div>
        </div> 
        <div class="col-3 row">
            <h3 class="col-12">My MUDs</h3>
            <div *ngFor="let dungeon of myMUDs" class="border border-dark p-3 col-12 mudCard">
                <h5>{{dungeon.dungeonName}}</h5>
                <div>{{dungeon.dungeonDescription}}</div>
                <button class="btn btn-success" [routerLink]="['/builder',{id: dungeon.dungeonID}]">Resume</button>
                <button class="btn btn-outline-success m-1" (click)="copyDungeon(dungeon)">Copy</button>
                <button class="btn btn-danger" (click)="deleteDungeon(dungeon)">Delete</button>
            </div>
                <div class="border border-dark p-3 col-12">
                    <h5>Create A New MUD</h5>
                    <button class="btn btn-primary"  routerLink="/builder">Create</button>
                </div>
            

        </div>  
    </div>
</div>