<div class="container-fluid p-0 m-0">
    <div class="row m-5 justify-content-around align-items-start">
        <div class=" row col-lg-8 col-12">
            <div class="col-12 row">
                <h3>Available MUDs</h3><ng-select style="margin-left: 20px; min-width: 100px;" [(ngModel)]="selectedFilter" [clearable]="false"> 
                    <ng-option [value]="filter" *ngFor="let filter of filters">{{filter}}</ng-option>
                </ng-select>
            </div>
            <div class="m-3">
                <h5 *ngIf="!availableMUDs || availableMUDs.length == 0">Waiting For Active Lobbies...</h5>
            </div>
            
            <div *ngFor="let dungeon of availableMUDs" class="card m-3 bg-dark max-col-lg-4 card-backdrop card-border">
                <div class="card-body">
                    <h5>{{dungeon.dungeonName}} <span *ngIf="dungeon.private" class="badge badge-danger">private</span>  </h5>
                    <h6>({{dungeon.currentPlayers}}/{{dungeon.maxPlayers}}) Players</h6>
                    <div class="line-clamp-3">{{dungeon.dungeonDescription}}</div>
                    <button class="btn btn-success mt-1" (click)="joinDungeon(dungeon)">JOIN</button>
                </div>
            </div>
        </div> 
        <div class="col-lg-3 col-12 row">
            <h3 class="col-12">My MUDs</h3>
            <div class="card bg-dark col-12 m-2 card-backdrop card-border">
                <div class="card-body">
                    <h5>Create A New MUD</h5>
                    <button class="btn btn-primary"  routerLink="/builder">Create</button>
                </div>
            </div>

            <div *ngFor="let dungeon of myMUDs" class="card bg-dark col-12 m-2 card-backdrop card-border">
                <div class="card-body">
                    <h5 class="line-clamp-1">{{dungeon.dungeonName}}</h5>
                    <div class="line-clamp-3">{{dungeon.dungeonDescription}}</div>
                    <button class="btn btn-success" [routerLink]="['/builder',{id: dungeon.dungeonID}]">Resume</button>
                    <button class="btn btn-outline-success m-1" (click)="copyDungeon(dungeon)">Copy</button>
                    <button class="btn btn-danger" (click)="deleteDungeon(dungeon)">Delete</button>
                </div>       
            </div>
        </div>  
    </div>
</div>

<app-loader *ngIf="loading"></app-loader>
<app-loader [loadingText]="'Waiting for DungeonMaster'" *ngIf="joinLoad"></app-loader>