<header>
    <ul>
      <li><a routerLink="" style="margin-right:2rem;">MUD CAKE</a></li>
      <li *ngIf="!currentUser" style="float:right"><a class="hover" routerLink="/login">Login</a></li>
      <li *ngIf="currentUser" style="float:right"><a class="hover" (click)="logout()">Logout</a></li>
      <li *ngIf="currentUser" style="float:right"><a class="hover" routerLink="/profil">Profile</a></li>
    </ul>
</header>
<main class="bg-purple">
  <router-outlet></router-outlet>
</main>
<footer>
  <h6 routerLink="/impressum">Impressum</h6>
</footer>

<app-join-toast></app-join-toast>
