@import "./sccVariables.scss";

header {
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $color-5;
        height: $header-height;
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: $text-color-1;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li .hover:hover {
        background-color: $color-3;
      }
}

main {
    z-index: 0;
    position: relative;
    padding-top: $header-height;
    padding-bottom: $footer-height;
    top: 0;
    min-height: 100vh;
    width: 100%;
    color: $text-color-1;  
}

footer {
    z-index: 100;
    height: $footer-height;
    width: 100%;
    background-color: $color-5;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    line-height: $header-height;
    text-align: center;
    color: $text-color-1;
}

h6 {
    line-height: $footer-height;
    color: $text-color-1;
    outline: none;
}

h6:hover {
    text-decoration: underline;
    cursor: pointer;
}


.bg-purple{
  background-color: $color-4;
  
}
