$header-height: 3rem;
$footer-height: 4rem;

$text-color-1: white;
$text-color-2: blue;


$map-size: 400px;

$color-1: #8AD5EB;
$color-2: #8A54A2;
$color-3: #5954A4;
$color-4: #04254E;
$color-5: #03152c;