<div class="load-wrapper">
    <div class="dog">
        <div class="heart heart--1"></div>
        <div class="heart heart--2"></div>
        <div class="heart heart--3"></div>
        <div class="heart heart--4"></div>
        <div class="head">
                <div class="year year--left"></div>
                <div class="year year--right"></div>
                <div class="nose"></div>	
            <div class="face">
                <div class="eye eye--left"></div>
                <div class="eye eye--right"></div>
                <div class="mouth"></div>
            </div>
        </div>
        <div class="body">
            <div class="cheast"></div>
            <div class="back"></div>
            <div class="legs">
                <div class="legs__front legs__front--left"></div>
                <div class="legs__front legs__front--right"></div>
                <div class="legs__back legs__back--left"></div>
                <div class="legs__back legs__back--right"></div>
            </div>
            <div class="tail"></div>
        </div>
    </div>
    <h1 class="load-text">Loading</h1>
</div>