<div class="container-fluid bg-aqua">
    <div class="row justify-content-center">
        <div class="mapDisplay m-4">
            <div class="roomMap border">
                <div *ngFor="let room of rooms" [ngStyle]="{
                    'grid-column': room.x,
                    'grid-row': room.y
                }" class="roomCell"
                [ngClass]="{
                    'activeRoom':room.isActive && !room.isStartRoom,
                    'startRoom':room.isActive && room.isStartRoom,
                    'viewedRoom':room.isViewed
                }"></div>

            </div>
        </div>
        <div class="chat m-4">
            <app-chat></app-chat>
        </div>
        <div class="info col-10">
            <div class="row">
                <div class="roomInfo card col-6">
                    <h3>Room: {{currentRoom.name}} </h3>
                    <p>Discription: {{currentRoom.description}}</p>
                    <p>Item: {{currentRoom.item}}</p>
                    <p>NPC: {{currentRoom.npc}}</p>
                    <p>Players: {{currentRoom.players}}</p>
                </div>
                <div class="playerInfo card col-6">
                    <div class="row">
                        <h3 class="col-12">PlayerInfo</h3>
                        <div class="col-5">
                        <p>Name: {{player.name}} <meter id="health" min="0" max="100" low="30" high="75" optimum="80" value="{{player.health}}"></meter></p>
                        <p>Description: {{player.description}}</p>
                        <p>Race: {{player.race.name}}</p>
                        <p>Class: {{player.class.name}}</p>
                        </div>
                        <div class="col-5">
                            <p>Equiped:</p>
                            <p>Inventory:</p>
                        </div>
                    </div>
                   
                    
                    
                </div>
            </div>
            
        </div>
    </div>
   
</div>
