@import "./../sccVariables.scss";

$roomway: white;

.roomMap{
    overflow-y: auto;
    overflow-x: auto;
    height: $map-size;
    width: $map-size;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: repeat(15, 30px [col-start]);
    grid-template-rows: repeat(15, 30px [row-start]);
}

.isInRoom{
    background-color: rgb(243, 138, 0) !important;
}

.roomCell{
    margin: auto;
    width: 25px;
    height: 25px;
    outline: 1px solid black;
}

.chat {
    width: calc(80% - 500px);
    max-height: $map-size;
}

.startRoom {
    background-color: rgb(87, 87, 236);
}


.activeRoom {
    background-color: rgb(228, 174, 104);
}

.north {
    content: "";
    position: absolute;
    height: 3px !important;
    width: 7px !important;
    margin-top: -3px;
    margin-left: 9px;
    background-color: $roomway;
}

.west {
    content: "";
    position: absolute;
    height: 7px !important;
    width: 3px !important;
    margin-top: 9px;
    margin-left: -3px;
    background-color: $roomway;
}

.east {
    content: "";
    position: absolute;
    height: 7px !important;
    width: 3px !important;
    margin-top: 9px;
    margin-left: 25px;
    background-color: $roomway;
}

.south {
    content: "";
    position: absolute;
    height: 3px !important;
    width: 7px !important;
    margin-top: 25px;
    margin-left: 9px;
    background-color: $roomway;
}