<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="mapDisplay m-4">
            <div class="roomMap card-border">
                <div *ngFor="let room of rooms" [ngStyle]="{
                    'grid-column': room.x,
                    'grid-row': room.y
                }" class="roomCell"
                [ngClass]="{
                    'activeRoom':room.isActive && !room.isStartRoom,
                    'startRoom':room.isActive && room.isStartRoom,
                    'viewedRoom':room.isViewed,
                    'isInRoom': (room.x == currentRoom?.x &&  room.y == currentRoom?.y)
                }">
                <div class="north" *ngIf="room.north"></div>
                <div class="east" *ngIf="room.east"></div>
                <div class="south" *ngIf="room.south"></div>
                <div class="west" *ngIf="room.west"></div></div>

            </div>
        </div>
        <div class="col-12-min-map">
            <app-chat [dungeonID]="world.dungeonID" [roomID]="currentRoom?.roomID" [text]="whisperText"></app-chat>
        </div>
        <div class="info col-12">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="roomInfo card bg-dark card-border col-12 m-1">
                        <div class="card-body">
                            <h3>Room: {{currentRoom?.name}} </h3>
                            <p>Description: {{currentRoom?.description}}</p>
                            <p [title]="'Description: ' + currentRoom?.item?.description">Item: {{currentRoom?.item?.name}}</p>
                            <p [title]="'Description: ' + currentRoom?.npc?.description">NPC: {{currentRoom?.npc?.name}}</p>
                            <span>Players: </span>
                            <span *ngFor="let p of currentRoom?.players" style="margin-right: 1em;" [title]="'Description: ' + p.description + ' \nRace: ' + p.race?.name + ' \nClass: ' + p.class?.name" (click)="setWhisper(p.name)">{{p.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="playerInfo card bg-dark card-border col-12 m-1">
                        <div class="card-body">
                            <div class="row">
                                <h3 class="col-12">PlayerInfo</h3>
                                <div class="col-5">
                                <p>Name: {{player?.name}} <meter id="health" min="0" max="100" low="30" high="75" optimum="80" value="{{player.health}}"></meter></p>
                                <p>Description: {{player.description}}</p>
                                <p [title]="player.race?.description">Race: {{player.race?.name}}</p>
                                <p [title]="player.class?.description">Class: {{player.class?.name}}</p>
                                </div>
                                <div class="col-5">
                                    <p>Inventory:</p>
                                    <span *ngFor="let item of player.inventory" style="margin-right: 1em;" [title]="item.description">{{item.name}}</span>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
   
</div>
<app-loader *ngIf="loading"></app-loader>
<app-loader *ngIf="loadingDMLeaving" [loadingText]="'DungeonMaster is not available right now'"></app-loader>